{% extends 'commanMedicine.html' %}
{% block body %}
	{% load static %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->

			<div class="step-one">
				<h2 class="heading">Order Your Products</h2>
			</div>
			
		

			
			<div class="review-payment">
				<h2>Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for item in cart %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="/media/{{item.Product.Image1}}" style="max-height: 80px; max-width: 80px;" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{item.Product.medicine_name}}</a></h4>
								<p>Web ID:{{item.id}}</p>
							</td>
							<td class="cart_price">
								<p>{{item.Product.price}}/-</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{item.Product.price}}/-</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
						{% endfor %}

						
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>{{total}}/-</td>
									</tr>
									<tr>
										<td>Exo Tax</td>
										<td>$2</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>{{total}}/-</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
				<form method="post">{% csrf_token %}
				<button type="submit" class="btn btn-default update" >Pay Now</button>
				</form>
			</div>
			
		</div>
	</section> <!--/#cart_items-->

	

	{% endblock %}