{% extends 'commanMedicine.html' %}

{% block body %}
{% load static %}
	
	<section id="slider"><!--slider-->
		<div class="container-fluid" style="padding-left: 70px; padding-right: 70px;">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>M</span>EDICINEZONE</h1>
									<h2>UP TO 70% OFF</h2>
									<p>On medicines and other healthcare products</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/medBanner.png' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>M</span>EDICINEZONE</h1>
									<h2>THE MIRACLE OF TODAY'S MEDICINE</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/medBanner3.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>M</span>EDICINEZONE</h1>
									<h2>Life is not merely being alive but being well.</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/medBannner2.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png' %}" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container-fluid" style=" padding-left: 70px; padding-right: 70px;">
					
					<div class="recommended_items" ><!--recommended_items-->
						{% for medicine in allMedicine %}
						
						<h2 class="title text-center" style="margin-top: 20px;">{{medicine.0.category}}</h2>
						
						<div id="recommended-item-carousel{{forloop.counter}}" class="carousel slide " data-ride="carousel" style="max-height: 500px; padding: 20px; background-color: rgb(255, 255, 255);">
							<div class="carousel-inner " >
								<div class="item active"   >	
								{% for i in medicine %}
									<div class="col-sm-3 "   >
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="/media/{{i.Image1}}" alt="" style="height: 250px;" />
													<h2>Rs. {{i.price}} <span class="badge">Rs. {{i.price_off}}</span></h2>
													<p>{{i.medicine_name}}</p>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												<div class="product-overlay">
													<a href="product_details/{{i.Id}}">
													<div class="overlay-content">
														<h2 style="color: black;">Rs. {{i.price}} <span class="badge">Rs. {{i.price_off}}</span></h2>
														<p style="color: black;">{{i.medicine_name}}</p>
														<a href="{% url 'add_to_cart' i.Id  %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
													</div>
												</a>
												</div>
											
												<img src="{% static 'images/home/new.png' %}" class="new" alt="" />
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li><a href="{% url 'add_to_wishlist' i.Id  %}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
													<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
												</ul>
											</div>
										</div>
									</div>
								
									{% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
									</div><div class="item">
									{% endif %}
									{% endfor %}
								</div>
									
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel{{forloop.counter}}" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel{{forloop.counter}}" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
						{% endfor %}
					</div><!--/recommended_items-->
					
				
		</div>
	</section>
	{% endblock %}
	
	