{% extends 'Comaan.html' %}

{% block css %} 
{% endblock %}



{% block body %}
<div class="card text-bg-dark">
    <img src="/media/medicine.jpg" class="card-img" alt="..." style="height: 500px; opacity: 0.5;">
    <center>
    <div class="card-img-overlay">
      <h1 class="card-title" style="font-size: 50px; font-weight: 700; letter-spacing: 0.5px; font-family: 'Poppins', sans-serif; margin-top: 130px; color: #ecf0f4; margin-left: 10px; ">We are all About bringing</h1>
      <h1 class="card-title" style="font-size: 50px; font-weight: 700; letter-spacing: 0.5px; font-family: 'Poppins', sans-serif; margin-top: 30px; color: #ecf0f4; margin-left: 10px; ">transparency in the Indian</h1>
      <h1 class="card-title" style="font-size: 50px; font-weight: 700; letter-spacing: 0.5px; font-family: 'Poppins', sans-serif; margin-top: 30px; color: #ecf0f4; margin-left: 10px; ">Healthcare System </h1>
    </div>
  </center>
  </div>
&nbsp;
{% endblock %}