{% extends 'commanMedicine.html' %}


{% block body %}
	
	<section id="advertisement">
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt="" />
		</div>
	</section>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="Medicineproducts">All medicines</a></h4>
								</div>
							</div>
							
							{% for i in category %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="Medicineproducts?cat={{i.Id}}">{{i.Category}}</a></h4>
								</div>
							</div>
							{% endfor %}
						</div><!--/category-productsr-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="Medicineproducts"> <span class="pull-right">({{length}})</span>All Brands</a></li>
									{% for i in brand %}
									<li><a href="Medicineproducts?brand={{i.Id}}"> <span class="pull-right">({{i.Quantity}})</span>{{i.Brand_name}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->
						
						

						<div class="star">
							<h2>Star Rating</h2>
							<ul>
							  <a href="/medicineshop/Medicineproducts?star=4">
							  <li><span style="font-size: 25px; color: orange; " class="fa fa-star"></span>
								<span style="font-size: 25px; color: orange; " class="fa fa-star"></span>
								<span style="font-size: 25px; color: orange; " class="fa fa-star"></span>
								<span style="font-size: 25px; color: orange; " class="fa fa-star"></span> <span style="color: black; font-size: 20px; font-weight: bold;">& above</span></li></a>
					
								<a href="/medicineshop/Medicineproducts?star=3">
							  <li><span style="font-size: 25px; color: orange; " class="fa fa-star"></span>
								<span style="font-size: 25px; color: orange; " class="fa fa-star"></span>
								<span style="font-size: 25px; color: orange; " class="fa fa-star"></span> <span style="color: black; font-size: 20px; font-weight: bold;">& above</span></li></a>
					
								<a href="/medicineshop/Medicineproducts?star=2">
							  <li><span style="font-size: 25px; color: orange; " class="fa fa-star"></span>
								<span style="font-size: 25px; color: orange; " class="fa fa-star"></span> <span style="color: black; font-size: 20px; font-weight: bold;">& above</span></li></a>
					
								<a href="/medicineshop/Medicineproducts?star=1">
							  <li><span style="font-size: 25px; color: orange; " class="fa fa-star"></span> <span style="color: black; font-size: 20px; font-weight: bold;">& above</span></li></a>
							</ul>
							
						  </div>
						
						<!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right" >
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
						{% for medicine in products %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<a href="product_details/{{medicine.Id}}">
										<div class="productinfo text-center">
											<img src="/media/{{medicine.Image1}}" alt="" style="max-height: 200px;" />
											<h2>Rs. {{medicine.price}} <span class="badge">Rs. {{medicine.price_off}}</span></h2>
											{% include 'overall_rating.html' %}
											<p>{{medicine.medicine_name}}</p>
											<a href="{% url 'add_to_cart' medicine.Id  %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</a>
									<a href="product_details/{{medicine.Id}}">
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>Rs. {{medicine.price}} <span class="badge">Rs. {{medicine.price_off}}</span></h2>
											
											<p>{{medicine.medicine_name}}</p>
											<a href="{% url 'add_to_cart' medicine.Id  %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
									</div>
									</a>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="{% url 'add_to_wishlist' medicine.Id  %}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						
						</div>
						{% endfor %}
						
						
					</div><!--features_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	{% endblock %}