{% extends 'comman.html' %}

{% block section %}   	
    
    
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
				    
			   
		
				
				
				<div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">No.</th>
												<th class="cell">Doctor Name</th>
												<th class="cell">File name</th>
												<th class="cell"></th>
											</tr>
										</thead>
										<tbody>
											{% for i in file %}
											<tr>
												<td class="cell">{{forloop.counter}}</td>
												<td class="cell">{{i.doctor.doctor_name}}</td>
												<td class="cell">{{i.name}}</td>
												<td class="cell"><a href="{{i.upload.url}}"><i class="fa fa-download" aria-hidden="true"></i></a> &nbsp; &nbsp;</td>
											</tr>
                                            {% empty %}
											<div style="background-color: rgba(255, 0, 0, 0.39);">
												<h3 class="p-3" >No single Report present </h3>
											</div>
											{% endfor %}
											
											
											
		
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						       
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
						
			        </div><!--//tab-pane-->
			        
			        
			        
			        



                    


                    
			        
				</div><!--//tab-content-->
				
				
			    
		    </div><!--//container-fluid-->
	    </div><!--//app-content-->
	    
	   
	    
    </div><!--//app-wrapper-->    					

 
{% endblock %}

