{% extends 'Admin_dashboard_comman.html' %}
{% block section %} 
<h3 class="mx-4 mt-4" style="text-align: center;"><b>patients</b>
    <span class="badge rounded-pill text-bg-danger">{{pt_length}}</span>
</h3>
<div class="container-fluid pt-3">
<div class=" removable">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6  style="display: inline-block; margin-right: 380px;" >Patients</h6>
                <!-- <h6  style="display: inline-block;">serach</h6> -->
                <form  style="display: inline-block;" method="post">{% csrf_token %}
                <div class="btn-group">
                    <input name="search" style="height: 30px;" class="form-control me-2" type="search" placeholder="Search by name or gender" aria-label="Search">
                    
                    
                      <button style="height: 30px;  margin-right: 15px; border-radius: 20px;" class="btn btn-outline-success" type="submit">Search</button>
                   
                  </div>
                </form>
                    <!-- <button style="height: 30px; border-radius: 20px;" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" >
                      Filter by Answer
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Admin_dash_patient/">All</a></li>
                        <li><a class="dropdown-item" href="?Blood=A">A+</a></li>
                        <li><a class="dropdown-item" href="?Blood=A-">A-</a></li>
                        <li><a class="dropdown-item" href="?Blood=B">B+</a></li>
                        <li><a class="dropdown-item" href="?Blood=B-">B-</a></li>
                        <li><a class="dropdown-item" href="?Blood=AB">AB+</a></li>
                        <li><a class="dropdown-item" href="?Blood=AB-">AB-</a></li>
                        <li><a class="dropdown-item" href="?Blood=O">O+</a></li>
                        <li><a class="dropdown-item" href="?Blood=O-">O-</a></li>
                    </ul> -->

               
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead >
                            <tr style="background: rgb(190, 243, 244);">
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Id</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Gender</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Blood</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Mobile</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Pincode</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">City</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ">Country</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Status</th>
                                <th class="text-secondary opacity-7">edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in patient %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 style="margin-right: 9px;" class="mb-0 text-sm">#{{forloop.counter}}</h6>
                                        </div>
                                        <div>
                                            <img src="/media/{{i.patient_profile}}" class="avatar avatar-sm me-3" alt="..." >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i.patient_name}}</h6>
                                            <p class="text-xs text-secondary mb-0">{{i.email}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{i.patient_sex}}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{i.patient_Blood}}</p>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i.mobile}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i.patient_zip}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i.patient_city}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{i.patient_country}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <!-- last Visit -->
                                



                                <td class="align-middle text-center text-sm">
                                    {% if i.status == "Login" %}
                                    <span class="badge badge-sm bg-gradient-success">{{i.status}}</span>
                                    {% else %}
                                    <span class="badge badge-sm bg-gradient-danger">{{i.status}}</span>
                                    {% endif %}
                                </td>
                                
                                <td class="align-middle">
                                    <a href="/Admin_dash_patientDetails/?id={{i.patient_id}}" id="pt{{i.patient_id}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        
                                        <svg style="color: rgb(186, 167, 0); margin-right: 20px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                          </svg>
                                    </a>
                                    <!-- /Patient_edit/{{i.patient_id}} -->
                                    
                                    <a href="/admin/DMZ/patient/{{i.patient_id}}/change/" id="pt{{i.patient_id}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        
                                        <svg style="color: blue; margin-right: 20px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                          </svg>
                                    </a>
                                    <a href="/deletePatient/{{i.patient_id}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        
                                        <svg style="color: red; margin-right: 20px; " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                          </svg>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <div class="alert alert-danger" role="alert">
                                No patient Available !!!
                            </div>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

            
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    {% if patient.has_other_pages %}
    <ul class="pagination">
        {% for i in patient.paginator.page_range %}
        {% if i == patient.number %}
      <li class="page-item" ><a style="background: rgb(171, 212, 248); color: black;" class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% else %}
      <li class="page-item" ><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </nav>



<h3 class="mx-4 mt-4" style="text-align: center;"><b>Login Details</b>
</h3>

  <div class="container-fluid pt-3">
    <div class=" removable">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6  style="display: inline-block; margin-right: 380px;" >Login Details</h6>
                    <!-- <h6  style="display: inline-block;">serach</h6> -->
                    <form  style="display: inline-block;" method="post">{% csrf_token %}
                    <div class="btn-group">
                        <input name="search" style="height: 30px;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        
                        
                          <button style="height: 30px;  margin-right: 15px; border-radius: 20px;" class="btn btn-outline-success" type="submit">Search</button>
                       
                      </div>
                    </form>
    
                    
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead >
                                <tr style="background: rgb(190, 243, 244);">
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder " style="text-align: center;" >Id</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder " style="text-align: center;" >Name</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder " style="text-align: center;" >Total Login</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder " style="text-align: center;" >Last Login</th>
                                    <th class="text-secondary opacity-7" style="text-align: center;" >edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in details %}
                                <tr>
                                    <td class="align-middle" style="text-align: center;">
                                        <div class="d-flex px-2 align-middle" style="text-align: center;">
                                            
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 style="margin-right: 9px; text-align: center;" class="mb-0 text-sm  align-middle">#{{i.Patient_id.patient_id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle" style="text-align: center;">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm" style="text-align: center;">{{i.Patient_id.patient_name}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle" style="text-align: center;">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm" style="text-align: center;">{{i.Last_login}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle" style="text-align: center;">
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{i.total_login}}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    
                                    <td class="align-middle" style="text-align: center;">
                                        <a href="/Admin_dash_patientDetails/?id={{i.Patient_id.patient_id}}" id="pt{{i.patient_id}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            
                                            <svg style="color: rgb(14, 143, 0); margin-right: 20px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                              </svg>
                                        </a>
                                        <a href="/deletePatient/{{i.patient_id}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            
                                            <svg style="color: red; margin-right: 20px; " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                              </svg>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
    
                
            </div>
        </div>
    </div>


  


  

<!-- </div -->


{% endblock %}