

<style>

.checked {
    color: orange;
}

</style>



{% if i.rating == 1.0 or i.overall_rating == 1.0 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 1.5 or i.overall_rating == 1.5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half checked "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 2.0 or i.overall_rating == 2.0 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 2.5 or i.overall_rating == 2.5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star-half checked "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 3.0 or i.overall_rating == 3.0 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star "></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 3.5 or i.overall_rating == 3.5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star checked "></span>
    <span class="fa fa-star-half checked "></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 4.0 or i.overall_rating == 4.0 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star "></span>
    {% endif %}
    {% if i.rating == 4.5 or i.overall_rating == 4.5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half checked"></span>
    {% endif %}
    {% if i.rating == 5.0 or i.overall_rating == 5.0 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>  
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    {% endif %}
    
    {% if i.rating == 1.0 or i.rating == 1.5 or i.rating == 2.0 or i.rating == 2.5 %}
	<span style="background-color: rgb(255, 0, 0);" class="badge">{{i.rating}}</span>
	{% endif %}
	{% if i.rating == 3.0 or i.rating == 3.5 %}
	<span style="background-color: rgb(0, 55, 255);" class="badge">{{i.rating}}</span>
	{% endif %}
	{% if i.rating == 4.0 or i.rating == 4.5 or i.rating == 5.0 %}
	<span style="background-color: green;" class="badge">{{i.rating}}</span>
	{% endif %}

    {% if i.overall_rating == 1.0 or i.overall_rating == 1.5 or i.overall_rating == 2.0 or i.overall_rating == 2.5 %}
    <span style="background-color: rgb(255, 0, 0);" class="badge">{{i.overall_rating}}</span>
    {% endif %}
    {% if i.overall_rating == 3.0 or i.overall_rating == 3.5 %}
    <span style="background-color: rgb(0, 55, 255);" class="badge">{{i.overall_rating}}</span>
    {% endif %}
    {% if i.overall_rating == 4.0 or i.overall_rating == 4.5 or i.overall_rating == 5.0 %}
    <span style="background-color: green;" class="badge">{{i.overall_rating}}</span>
    {% endif %}
    {% if i.overall_rating == 0 %}
    <span style="background-color: rgb(255, 0, 0);" class="badge">0</span>
    {% endif %}

